﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="ReportInPDF.aspx.cs" Inherits="tap.ui.usr.ReportInPDF" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>TapRooT® Report</title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <asp:HiddenField id="hdnClickedReport" runat="server" />
    </div>
    </form>
</body>
</html>
