body {
    margin: 0;
    padding: 0;

    font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-size: 14px;
    color: #333;
   
}

.wrapper {
    position: relative;
    width: 800px;
    margin: auto;
    padding: 20px 40px;
    background: white;
}

#divSwitch
{
     /*position: relative;
    width: 800px;
    margin: auto;
    padding: 20px 40px;margin-top: 40px; 
    background: white;*/
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.75);
height:1px;

}



.Blue-Bar
{            
     height:7px;
    clear:both;    
    width:100%;
    min-width:600px;
    background:#2f729f;
    margin-bottom:1px;
    background: -moz-linear-gradient(center top , #184677, #2e719f 80%) repeat scroll 0 0 #2e719f;
    background:-webkit-linear-gradient(top, #184677, #2e719f); /* Chrome 10+, Saf5.1+, iOS 5+ */
    linear-gradient(top, #184677, #2e719f);
    background: -ms-linear-gradient(center top,#184677, #2e719f) ; /* IE10 */
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#184677', endColorstr='#2e719f');/* IE9 */
    -webkit-gradient(linear,left bottom,left top,color-stop(0, #fff),color-stop(1, #000));
    margin-right:10px;
}



html{
    overflow:visible;
    background:none !important;
}

/*p {
    text-align: justify;
    max-width: 700px;
}

h2 {
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
    margin-top: 60px;
}

h3 {
    margin-top: 40px;
}*/

/*code, pre {
    margin: 0 2px;
    padding: 0px 5px;
    border: 1px solid #EAEAEA;
    background-color: #F8F8F8;
    border-radius: 3px;
    font-size: 12px;
    font-family: Consolas, "Liberation Mono", Courier, monospace;
}

pre {
    max-width: 600px;
    padding: 10px;
    margin: 20px 0;
}*/

/*.demo::before{
    
    display: block;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 1px;
    color: #CCC;
    border-bottom: 1px solid #DDD;
    width: 600px;
    padding: 0 20px 5px 0;
}*/

.switch {
    padding: 20px 0;
    
}

.switch-wrapper {
    display: inline-block;
    position: fixed;
    top: 15px !important;
    float: right;
    right:10px;
    padding-right: 20px;
    font-weight: bold;

}


.slider.demo .switch-button-label {
    font-size: 40px;
}

.rctContent
{
    
    min-height:100px !important;
    width:100% !important;
}