﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="404Error.aspx.cs" Inherits="tap.adm._404Error" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    
</head>
<body>
    <form id="form1" runat="server">
    <div ALIGN="CENTER">
        <asp:Image runat="server" ImageUrl="~/Images/404.jpg"></asp:Image>
        <br />
    oops.. page not found
    </div>
    </form>
</body>
</html>
