﻿.AdminContent {
    padding: 10px;
    min-height: 590px;
    overflow: auto;
}
#AdminGlobalSetting {
    /*margin-top:5px;*/
    display:none;
}
#AdminGlobalSetting h2 span {
    /*background:none !important;*/
    left: 90% !important;
}


#AdminGlobalSetting div ul li a {
    cursor:pointer;
    text-decoration:none;
}
#AdminGlobalSetting div ul li a:hover {
    color:blue;
}
#AdminGlobalSetting div ul li {
    cursor:pointer;
    /*margin:5px;*/
}
.AdminGlobalSetting-div{
    border:0px !important;
    padding: 1em 0em !important;
    margin-top: -0.6px !important;
    /*background:#f9f9f9;*/
}


#AdminGlobalSetting h2 a {
    margin-left:12px;
}

#AdminGlobalSetting h2 {
    height:25px;
}

#AdminMySetting div ul li a {
    cursor:pointer;
    text-decoration:none;
}
#AdminMySetting div ul li a:hover {
    color:blue;
}
#AdminMySetting h2 span {
    /*background:none !important;*/
    left: 90% !important;
}
#AdminMySetting div ul li {
    cursor:pointer;
    /*margin:5px;*/
}
.AdminMySetting-div{
    /*border-left:1px solid #AAAAAA !important;
    border-right:1px solid #AAAAAA !important;
    border-bottom:1px solid #AAAAAA !important;*/
     padding: 1em 0em !important;
    margin-top: -0.6px !important;
}

#AdminMySetting h2 a {
  margin-left:12px;
}

.adminMainDiv {
    float:left; height:100%;
}
.adminSubDiv {
    width:100%; /*padding-top:10px;*/
    /*margin:3%;*/
    margin-top:10px;
}
.adminBodyDiv {
    float:left; width:79%; height:100%;
}
.whiteBg {
   background:white;
}
.headerTitle {
    margin-left:1px; font-weight:bold; font-size:16px; line-height:24px; color:#4779ae;
}
#ancSettingName {
    /*background-image:url('../../images/setting_25.png');background-repeat: no-repeat;background-size: 24px 24px;padding-left: 25px;*/
}
.imgHeader {
    float:left; margin-left:10px; margin-top:5px;height:18px; width:18px;
}
h2 a {
    margin-left:10px;
}


#ancDSDivisions {
    background-image:url('../../images/divisioninside.png');background-size: 18px 18px;padding-left: 30px;background-repeat: no-repeat;text-decoration:none;
}
#ancDSUsers {
    background-image:url('../../images/viewuser.png');background-repeat: no-repeat;background-size: 18px 18px;padding-left: 30px; text-decoration:none;
}


#ancOrganization {
    /*background-image:url('../../images/viewcompany.png');background-repeat: no-repeat;padding-left: 30px;*/
}
#ancCreateDivision {
      background-image:url('../../images/adddivision.png');background-repeat: no-repeat;background-size: 18px 18px;padding-left: 30px;
}
#ancViewDivision {
      /*background-image:url('../../images/divisioninside.png');background-repeat: no-repeat;background-size: 18px 18px;padding-left: 30px;*/
}
#ancCreateUser {
    background-image:url('../../images/add_user.png');background-repeat: no-repeat;background-size: 18px 18px;padding-left: 30px;
}
#ancViewUser {
    /*background-image:url('../../images/viewuser.png');background-repeat: no-repeat;background-size: 18px 18px;padding-left: 30px;*/
}
#ancCustomTabs {
     /*background-image:url('../../images/customsubtab.png');background-repeat: no-repeat; padding-left: 30px;*/
}
#ancHomePageMsg {
     /*background-image:url('../../images/homepagemsg1.gif');background-repeat: no-repeat;padding-left: 30px;*/
}
#ancActiveDirectory {
     /*background-image:url('../../images/roleaccess.png');background-repeat: no-repeat;padding-left: 30px;*/
}
#ancSystemLists {
    /*background-image:url('../../images/list1.png');background-repeat: no-repeat;background-size: 18px 18px;padding-left: 30px;*/
}
#ancAttachmentFolders {
    /*background-image:url('../../images/folder.png');background-repeat: no-repeat;background-size: 16px 16px;padding-left: 30px;*/
}
#ancReportTemplates {
    /*background-image:url('../../images/report generation.jpg');background-repeat: no-repeat;background-size: 18px 18px;padding-left: 30px;*/
}
#ancNotifications {
    /*background-image:url('../../images/notes.png');background-repeat: no-repeat;padding-left: 30px;*/
}
#ancEmails {
    /*background-image:url('../../images/mail-icon.png');background-repeat: no-repeat;background-size: 18px 18px;padding-left: 30px;*/
}



/*For My Setting Section*/
#ancOrganizationMySetting {
    /*background-image:url('../../images/viewcompany.png');background-repeat: no-repeat;background-size: 18px 18px;padding-left: 30px;*/
}
#ancCreateDivisionMySetting {
}
#ancCreateUserMySetting {
    background-image:url('../../images/add_user.png');background-repeat: no-repeat;background-size: 18px 18px;padding-left: 30px;
}
#ancViewUserMySetting {
    /*background-image:url('../../images/viewuser.png');background-repeat: no-repeat;background-size: 18px 18px;padding-left: 30px;*/
}
#ancCustomTabsMySetting {
     /*background-image:url('../../images/customsubtab.png');background-repeat: no-repeat;background-size: 18px 18px;padding-left: 30px;*/
}
#ancSystemListsMySetting {
    /*background-image:url('../../images/list1.png');background-repeat: no-repeat;background-size: 18px 18px;padding-left: 30px;*/
}
#ancAttachmentFoldersMySetting {
    /*background-image:url('../../images/folder.png');background-repeat: no-repeat;background-size: 18px 18px;padding-left: 30px;*/
}
#ancReportTemplatesMySetting {
    /*background-image:url('../../images/report generation.jpg');background-repeat: no-repeat;background-size: 18px 18px;padding-left: 30px;*/
}
#ancNotificationsMySetting {
    /*background-image:url('../../images/notes.png');background-repeat: no-repeat;background-size: 18px 18px;padding-left: 30px;*/
}
#ancHomePageMsgMySetting {
     /*background-image:url('../../images/homepagemsg1.gif');background-repeat: no-repeat;background-size: 18px 18px;padding-left: 30px;*/
}
#ancNewDivisionMySett {
      background-image:url('../../images/adddivision.png');background-repeat: no-repeat;background-size: 18px 18px;padding-left: 30px;
}
#ancViewDivisionMySett {
      /*background-image:url('../../images/divisioninside.png');background-repeat: no-repeat;background-size: 18px 18px;padding-left: 30px;*/
}
.border0 {
    border:0px!important;
}
#AdminMySetting div ul li {
    /*height:40px;*/
     padding-top:.3em;
    padding-bottom:.3em;
}
#AdminMySetting div ul li img {
    width:20px;
    height:20px;
}
#AdminMySetting div ul li a {
    text-decoration:none;
    margin-left:10px;
    font-size:14px;
    /*color:gray;*/
    font-family: Tahoma,sans-serif;
    color:#4779ae;
}
 #AdminMySetting div ul li a label{
    cursor:pointer;
}

 #AdminMySetting div ul li div{
    padding-right:0!important;
    /*padding-top: .5em!important;*/
    margin:5px;
}

#AdminGlobalSetting div ul li {
    /*height:40px;*/
    padding-top:.3em;
    padding-bottom:.3em;
}
#AdminGlobalSetting div ul li img {
    width:20px;
    height:20px;
}
#AdminGlobalSetting div ul li a {
    text-decoration:none;
    margin-left:10px;
    color:#4779ae;
    font-size:14px;
    /*color:gray;*/
    font-family: Tahoma,sans-serif;
}

#AdminGlobalSetting div ul li div{
    padding-right:0!important;
    /*padding-top: .5em!important;*/
    margin:5px;
}
#goBackToGlobalSettings {
    display: none; margin: 10px;
}
#ancBackDivisionsList {
    color:#4779ae;
}
.globalSetting {
    margin-left:12px; width:30px; height:30px; margin-top:0px;
}
.marginTop0Px {
    margin-top:0px;
}
