﻿.CheckBoxLabel
{
    color:#878787;
    border:0px solid red;  
 }
.lblEventTime
{
    /*padding-left:30px;*/
    margin-right: -15px;
    padding-left: 19px;
}

.marginLeft40 {
    margin-left:40%;
}
.btnFloatTab {
    float:left; margin-left:5px;
}
#divRestrictUserListGrid {
    margin-top:5px;
}
.divRestrictUserGridPopUp {
    margin: 0px; margin-top: 20px; width: 600px;"
}
#gbox_RestrictUserListGrid {
    border: 1px solid #AAAAAA;
}

.btnCloseRestrictPopUp {
    margin-top:5px;
}