﻿
/*Custom Report */
body
{
    font: 10pt "Lucida Sans Unicode" , "Trebuchet Ms" ,Helvetica,Arial;
    margin: 0;
}
body { overflow-x: hidden; }
body, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, textarea, p, blockquote, th, td
{
    margin: 0;
    padding: 0;
    list-style: none;
   
}
.ContentWidth {
    border: 0 solid red;
    margin: 10px 0 6% 1%;
    overflow-x:hidden;
}
  .ui-widget {
            font-size: 12px;
            border:0px solid red;
        }
  
 .divAccordian{
    float: left;
    border: 0px solid #385d8a;
    min-width:5%;
    width: 20%;   
    min-height: 400px;
    padding:10px 10px 0px 20px;
    overflow:hidden;
 
 }
#divTapRooTAccordian {
    margin-top:5%;
}


.marginLeft15 {
    margin-left: 15px
}
.merginLeft5{
    margin-left:5px;
}
.headerReportArea {
    float: right;
    border: 1px solid #AAAAAA;
    width: 72%;
    min-width: 20%;
    min-height: 500px;
    padding: 0px;
    margin: 0 3% 0 0;
    overflow-y: auto;
    overflow-x: hidden;
 
}

.labelData {
    width:120px;
    border:1px solid #000;
    color:#000;
    padding:5px;
   
}
.valueData {
   width:120px;
   border:1px solid #000;
   color:#000;
   padding:5px;
   margin-left:10px;
}
.displayReport {
    clear:both;
    border:0px solid #6c6c6c;
    width:100%;    
    margin:00px 15px 0px 0px;        
}

.reportValues {

    padding:10px 0px 0px 20px;
  
}
.columnText {
    width:30%;float:left;
    
}

.anchorHeader {
    text-decoration:none;
    /*background-color: #EDEDED;*/
    padding-left:10px;
}
/*#divCreateEditReportDialog div,#reportArea div {
    margin-top:10px;
    float:left;
   padding-left:10px;
}*/

#divCreateEditReportDialog div{
    margin-top:10px;
    float:left;
   padding-left:10px;
}
#reportArea div {
  float:left;
   /*padding-left:10px;*/
}
#rptItems div  {
    width: 100%;
  
}
.width100 {
    width: 100%;
}
.width98 {
    width:98%;
}

.overflowHidden {
    overflow:hidden;
}
.clearBoth {
    clear:both;
}

#divAccordian li input{

    margin-left: 10px;    
    text-align:right;
    float:right;
    cursor:pointer;
}

.centerButton {

  text-align:center;
  float:left;
  width:79%;
  padding-left:50px;
 
}

.highlight {
    background-color: #EFEA72;
    cursor:move;
}

.not-droppable {
    background-color:#FF4540;
}

.drag-highlight {
    border-style: dashed;
    border-width: 1px;
    border-color: #747474;
    background-color: #EFEA72;
}

.not-drag-highlight {
     background-color: #747474;
}
.imageDeleteControl {
    background-image: url("../../Images/CheckRed.gif")  !important;
    background-repeat: no-repeat  !important;
    background-position:right center  !important; 
    width:16px;
    height:16px; 
    float:right;
    padding-top:5px;   
    background-color:#ffffff;
    cursor:pointer;
}


.drag-highlight-green {
   border-style: dashed;
   border-width:1px;
   border-color:#747474;
   background-color: green;
}

.event-subtabs {
        min-height:21px !important;
    }
    .event-subtabs-selected {
        min-height: 19px !important;
    }

.ListElementText {
    float:left;min-width:100px;clear:both;
}
.ListElementValue {
    float:left;
   
}
/*this classes wil go off once top and left values will come from dbase -end*/

/*Tool Box for Formating Text*/
.divMainToolBox {
   margin:0 2.5% 0 24.5%;
 width:73%;
}
 .formatBox 
 {
    height: 15px;
    width: 20px;
    border: 1px solid #AAAAAA !important;
    padding: 5px;
    float: left;
    margin: 2px;
 }

#toolBox div {
    background-repeat: no-repeat;
 
}

.formatBox:hover {
    border: 1px solid #616161;
    cursor: pointer;
    background-color:#EEEEEE;
}

.setColorBox {
    width: 115px;
    height: 85px;
    border: 1px solid gray;
    margin: 20px 0px 0px 100px;
    position:absolute;
      z-index: 2000;
}

.setColorCopBox {
    height: 10px;
    width: 10px;
    float: left;
    border: 1px solid #AAAAAA;
    margin: 1px;
    margin-left: 1px;
}
.selectText {
    border-style: dashed;
    border-width:1px;
    border-color:#747474;
        
}
.addFormatTextBorder {
    border:1px solid #1B268B;
}
.removeFormatTextBorder {
    border:0px solid #1B268B;
}

#divCompanyDetails {
    height:135px;
    min-height:135px;
    position:absolute;
}
#divCompanyDetails div{
   
    margin: 2px 0 0 12px;
    position:fixed;
}
#divCompanyDetails input {
    margin-top:7px;
}
.pageTitle {
    font-size: 12px;
    font-weight:bold;
    color:#000;
    padding-top:5px;
    min-width:10%;
    float:right;
    width:15%;
}

.ReportTitle {
    font-size:20px !important; 
    cursor:pointer;   
    word-break: normal;
    float:left;
    color:#000;
    font-weight:bold; 
    text-align:center;
    width:60%;
    min-width:35%;
    /*min-height:30px;*/
}
.CustomReportTitle {  
    width:35%;
     min-width:35%;  
    border-style:dashed !important;
    border-width:1px !important;  
    margin:10px 0 0 200px;
    text-align:center;
}
.companyDetail {
    width: 100%;
    height: 135px;
    border-style: dashed;
    border-width:0px;
    border-bottom-color:  #747474;
    border-bottom-width: 1px;   
    padding:0px;
}
.divCompanyLogo {
   border:0px solid green;
   position:absolute;
   height:17%;
   float:left;
   /*display:inline-block;*/
   width:12%;
   margin:5px 0px 0px 5px;
}
#reportArea {
    float: left;
    border: 1px solid transparent;
    width:  99%;
    min-width:  99%;
    min-height: 500px; 
    padding:0px;
    clear: both;
}
.margin14 {
    margin-top:120px;
}
.paddingLeft55 {
    padding-left:55px;
}
.margin5 {
    margin-top:150px;
}
.margin8 {
    margin-top:50px;
}
#divHeader {
    border: 0px solid red;     
    width:67%;
    position:absolute;
}
.height15 {
    height: 15%;
}
.height5 {
    height: 5%;
}
#divTitle {
    border: 0px solid black;
    display: inline-block;
    width: 95%;
    position: absolute;
    margin: 0 16% 0 12%;
}
#divPageTitle {
    border: 0px solid black; 
    display: inline-block;
     width: 16%; 
     float: right;
}
.divGenerateReport {
    clear:both;
    width:100%;
    /*overflow-y:hidden;*/
    /*-ms-overflow-y:hidden;*/
    -ms-overflow-x:hidden;
    overflow-x:hidden !important;
   
    /*display:inline-block;*/
    /*position:relative;*/
}

#divSaveIcon {

    background-image: url("../../Images/Save.png")  !important;
    background-repeat: no-repeat  !important;
    background-position:right center  !important; 
    height:25px;
    width:25px;
    float:left;
    cursor:pointer;
  
}
#divPreviewicon {

    background-image: url("../../Images/Preview.png")  !important;
    background-repeat: no-repeat  !important;
    background-position:right center  !important; 
    height:25px;
    width:25px;
    float:left;
    cursor:pointer;
   
}
#divSaveIcon:hover {
    background-color:#AAAAAA
}

#divToolBox {

   
    float: left;
    border:0px solid #AAAAAA;
    -moz-border-radius: 6px;-webkit-border-radius: 6px;-khtml-border-radius: 6px; border-radius: 6px;
    
}
#divSavePreview {
    border: 0px solid #AAAAAA;

    float: left;
    margin-left: 5px;
    margin-top: 2px;
    padding: 2px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -khtml-border-radius: 6px;
    border-radius: 6px;
}


#ifReportImage {
    width: 280px; border: 0px; margin: 10px 0px 0px 00px;
}
#divReportType div input {
    margin-top:1px;
    float:left;
}

.divCompanyInfo {
    height: 16%;  width:100%;
}
.divwithoutHeaderLogo {
    height:5%;
    width:100%;
}
#divDataImage {
   float: left; width: 12%;position:relative;
}
#divReportTitle {
    width: 100%; 
    color: #000; 
    font-weight: bold; 
    font-size: 20px !important;
    text-align: center; 
    position: absolute;
    float:left;
}

#divDataPageTitle {
    float: right; font-size: 12px;  width: 12%;
}
.customLine {
    border-bottom:1px solid #000;margin:10px 10px 10px 0px;width:99%;
}
#btnReportTitleClose
{
    float: right;
    margin-right: 8.5%;
}

#divPrint {
    float: right; margin: 10px 10px 0px 10px;
}

.floatRight {
    float:right;
}

.warningMessage
{
        color:#cf164e;
       font-weight:bold;
       padding-left:25px;
       text-align:center;
       clear:both;      
       width:100%;
     }
/*for CF,RCT,CAP & Tasks*/
.tapRooTHeader {
    padding: 5px 0 0px 30px;
}

.subData {
    margin-top:5px;padding-left:5px;
}

.divMainTamplate {
    border: 1px solid #000000; margin-top: 0px;clear:both;margin-right:10px;
}
.divHeaderValue {
    width: 100%;
    clear: both;
    vertical-align: middle;
    text-align: center;
   
    color:#EDEDED;
    background-color:#000000;
    border-bottom: 1px solid black;
}
.divCFSubHeader {
    border-bottom: 1px solid black; 
    border-top:1px solid #EDEDED;
    height: 20px;
    text-align: center;
    background-color:#000000;
    color:#EDEDED;
}
.divCFSubRootCause {
    width: 33%; float: left;
}
.divCFSubActionPlanHeader {
    width: 40%; float: left;
}
.divCFSubTasksHeader {
    width: 25%; float: left;
}
.divCFSubValues {
    width: 66%; float: left;
}
.divCFSubActionPlanValues {
    width: 50%; float: left;text-align:center;
}
.divCFSubTasksValues {
    width: 30%; float: right; margin-bottom: 20px;

}
.divCAPTaskSubHeader {
     float: left; padding-top: 5px; border-bottom: 1px solid black; padding-left: 5px;width:100%;
}
.divCAPSubTaskValues {
    float: left; padding-left: 5px;
    padding-top:5px;
}
.divCAPSubHeader {
    clear: both; padding-top: 5px;
}
.divCAPSubRootCause {
    width: 33.5%; float: left; border-bottom: 1px solid black; padding-left: 5px;padding-top:5px;
}
.divCAPSubCausalFactor {
    width: 66%; float: left; border-bottom: 1px solid black;padding-top:5px;
}
.divCAPRootCauseValues {
    width: 33%; float: left; padding-left: 5px;padding-top:5px;
}
.divCAPCuasalFactorValues {
    width: 50%; float: left; margin-bottom: 20px;padding-top:5px;
}
#divReportIntegrateDialog {
    width:100px;
    margin-top: 30px;
}
#divReportIntegrateDialog  span{
    padding-left: 25px; font-size: 12px; color: #878787;
}
#divReportIntegrateDialog input {
    float: left;
}
#divReportIntegrateDialog div{

    margin-top: 10px; padding-left: 50px; clear: both; height: 20px;
}

.divProcess {
    color: #008000;
    font: 16pt "Lucida Sans Unicode", "Trebuchet Ms",Helvetica,Arial;
    font-weight: bold;
    text-align:center;
}
.divCAP
{
    clear:both;
}
.divSecurityAddress {
    color:#000;
    font-size:13px;
    text-align:left;
    font-weight:bold;
    padding-left:55px
}
#divSecurityMain {
    width: 50%;
    margin-left: 22%;
    margin-top: 15%;
    border: 1px solid #9A9A9A;
    border-radius: 5px;
    padding: 30px;
}
.divWarningSecurityMessage {
    text-align: left; 
    color: #D40006; 
    font-weight: bold;
    font-size:20px;
    
}
/*PDF STYLES*/
.table {
    width:100%;font-family:arial;font-size:12px;
}
.reportTitlePdf {
    float:right;text-align:right;padding-left:10px;
}
.reportCompanyName {
    float:right;text-align:right;
}
.reportDatePdf {
    float:right;text-align:right;width:100%;
}
.dropBreak
{
    margin-top:10px;background:#ffffff;color:#ffffff; cursor:auto;
}