﻿﻿body
{
     background: url("../Images/stars.jpg") repeat scroll left top #40586c;
    font: 10pt "Lucida Sans Unicode" , "Trebuchet Ms" ,Helvetica,Arial;
    margin: 0;
    color:#40586c;
}
body, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, textarea, p, blockquote, th, td
{
    margin: 0;
    padding: 0;
    list-style: none;
}

/* LAYOUT --------------starts */
.BodyContent {
    background: none repeat scroll 0 0 #FFFFFF !important;
    border: 0 solid red !important;
    clear: both !important;
    height: 323px !important;
    margin: 0.2% 0 !important;
    min-height: 323px !important;
    padding: 0 !important;
    width: 100% !important;
    overflow:hidden !important;
}
#wrapper,#PasswordBox
{
    margin: 0 6%;
     border: 0px solid red;
}
.ie6 #header
{
    width: 100%;
}
.LoginBox
{
    background-color:#ffffff;
    min-width:400px;
    min-height:200px;
    max-height:485px;
    max-width:500px;
    margin:20%;    
   -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    font-size: 9pt;
    }
 #LoginHeader
{
    clear:both;
    border:0px solid red;
    color:#265e82;
    font-size: 16px;
    text-decoration: none;
    font-family: Tahoma,sans-serif;
    font-weight: bold;
    margin:5px 0 0 3%;
    padding-top:1%;
    }
#MainContent
{
    border:0px solid red;
    margin:2% 10%;
    width:85%;
    text-align:left;
    font-size: 10pt;
    border:0px solid #000;
    font-weight:normal;
     color:#265e82;
     text-decoration: none;
     clear:both;
    }
    .ChangePasswordHeader
    {
        text-align:left;
         clear:both;
        border:0px solid red;
        color:#265e82;
        font-size:  16px;
        text-decoration: none;
        font-family: Tahoma,sans-serif;
        font-weight: bold;
        margin:0px 0px 10px 0px;
        }
/* LAYOUT --------------ends */
button
{
    background-color: #1d5a90;
    text-align: center;
    float: left;
    position: relative;
    border-color: #464b4d;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    color: #FFFFFF;
    font: bold 13px;
    text-decoration: none;
    min-width: 100px;
    margin:10px 20px 0px 0px;
    font-family: Cambria, "Palatino Linotype" , "Book Antiqua" ,Palatino, serif;
    font-weight: bold;
    padding:2px;
    }
button:hover {
    background-color: #3d8ed8;
    background-image: -moz-linear-gradient(center top , #7F8DAD 0%, #4A5E8C 50%, #2F477D 50%, #364C80 100%);
    cursor: pointer;
}

button:active {
    box-shadow: 0 0 20px 0 #3d8ed8 inset, 0 1px 0 white;
    
}

   #LoginControl,#ChangePasswordControl
   {
       border:0px solid red;
       margin:20px 0 0 40%;
       min-height:170px;
       min-width:560px;
    }
   .copyright {
    padding: 20px 0 0;
    text-align: center;
}
#divButton
{
    width:43.5%;
}
.rightButton
{
    float:right;
}
   label
{
    margin-top: 10px;
    font-weight: bold;
    font-size: 15px;
    color: #40586C;
}
  input
  {
    background: #ffffff;
    border:1px solid #cccccc;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;
    font: italic 13px Georgia, "Times New Roman", Times, serif;
    outline: none;
    width:40%;
    padding:3px;
    min-width:150px;
    margin-bottom: 9px;
   }
   #Msg
   {
       color:#cf164e;
       font-family: Cambria, "Palatino Linotype" , "Book Antiqua" ,Palatino, serif;
       font-size:12px;
       font-weight:bold;

   }
 .WarningMessage
 {
     color:#cf164e;
       font-family: Cambria, "Palatino Linotype" , "Book Antiqua" ,Palatino, serif;
       font-size:12px;
       font-weight:bold;
     }
 
 .SuccessMessage
 {
      color:#008000;
       font-family: Cambria, "Palatino Linotype" , "Book Antiqua" ,Palatino, serif;
       font-size:12px;
       font-weight:bold;
       padding-left:20px;
  }
 #btnCancel {
    margin-right:5.5%;
    width:40px;
}
 .userInactiveLoginErrorMsg {
    display:none; font-size:12px; color:red; margin-left:-20%;
    margin-left:15%;
}
#forgotControl {
    width:700px; margin:0 auto; min-height:190px; 
     border: 2px solid #2e719f;-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px; margin-bottom:40px;
    margin-top:40px;
    border-top-left-radius: 5px !important;
    border-top-right-radius: 5px !important;
}

.leftDiv
{
   width:25%

}

.rightDiv
{
   width:26%

}


#divHeader
{
     border-bottom: 1px solid #2e719f;
     background-color:#2e719f
}
#divForgotPsw {
    margin-top:2%;
    margin-left:150px;text-align:left; padding-top:50px;
}

#divFgtSubmitBtn{
    /*text-align:right;margin-right:150px;*/
    margin-left:415px;
}
#forgotPswSendingImage {
    /*display:none;*/
    margin-left:330px;
}
.fgtPswSuccess {
    display:none;margin-top: 50px;margin-left: 100px;
}
.rstPsw {
    /*display:none;*/margin-top: 40px;margin-left: 200px;
}
.rstMsg {
    /*display:none;*/margin-top: 3px;margin-left: 100px;
}
#lblFgtUserName {
    margin-right:10px;
}
#fgtPasswordRecovery {
    margin-left:5px;
    color: #FFFFFF;
}
.heightAutoImp {
    height: auto!important;
}
.forgotpwd
{
    float:right;
    padding:2px 20px;
}
a.jnotify-close
{
	position: absolute;
	top: 2px;
	right: 5px;
	padding: 0 5px;
	font: bold 1.4em Verdana,Arial,Helvetica,sans-serif;
	line-height: 1em;
	color: #567b1b;
	text-decoration: none;
	z-index: 3;
	cursor: pointer;
}
