﻿#ulSubTabs {
    margin-top:10px;
    clear:both;
}
.DisableDiv
{
    opacity: 0.3  ;
}

#ulSubTabs > div ul li {
    float: left;
    display: inline;
    list-style: none;
    margin: 0 1px 10px 0;
    padding: 0 0;
    height:30px;
}
#ulSubTabs > div ul li a:hover {
    background-color: #ededed;
    border:1px solid #272727;
    text-decoration: none;
    font-size: 12px;
    line-height: 30px;
    height: 30px;
    padding: 0 10px;
    color:#272727 !important;
                
}

.sub-tab {
    display: block;
    background-color: #272727;
    font-size: 12px;
    line-height: 30px;
    height: 30px;
    color: #ededed !important;
    text-decoration: none;
    padding: 0 10px;
    border:1px solid #272727;
}

.selected-tab {
    display: block;
    background-color: #D6D6D6;
    /*background-color: #ededed;*/
    padding: 0 20px;
    font-size: 12px;
    line-height: 30px;
    height: 30px;
    color: #272727;
    border:1px solid #272727 ;
    text-decoration: none;
    padding: 0 10px;
}

.inactive-tab {
     display: block;
    background-color: gray;
    opacity: 0.5;
    font-size: 12px;
    line-height: 30px;
    height: 30px;
    color: #ededed !important;
    text-decoration: none;
    padding: 0 10px;
    border:1px solid #272727;
}

.arrow-down {
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 7px solid #272727;
    margin: 0 auto;
}
 .arrow-right {
	width: 35px; 
	height: 38px; 
	cursor:pointer;
    background-image: url("../../Images/right-arrow.png");
    background-size:35px 38px;
    background-repeat: no-repeat;
}

.arrow-left {
    width: 35px; 
	height: 38px; 
    cursor:pointer;
    background-image: url("../../Images/left-arrow.png");
    background-size:35px 38px;
    background-repeat: no-repeat;
}
.tab-next-prev {
    width:200px; margin: 0 auto;
}
.arrow-left-div {
    margin: 0 auto; float:left; display:none; margin-top:5px;
}
.arrow-right-div {
    margin: 0 auto;float:left; display:none; margin-left:60px; margin-top:5px;
}

#new-event-detail {
    width: 65px;
}
.arrow-right-tab-disable {
    width: 35px; 
	height: 38px; 
    cursor:pointer;
    background-image: url("../../Images/right-arrow_off.png");
    background-size:35px 38px;
    background-repeat: no-repeat;
}
.arrow-left-tab-disable {
    width: 35px; 
	height: 38px; 
    cursor:pointer;
    background-image: url("../../Images/left-arrow_off.png");
    background-size:35px 38px;
    background-repeat: no-repeat;
}

.div-admin-tabs {
    float: left;
    display: inline-block;
    list-style: none;
    margin: 0 1px 10px 0;
    padding: 0 0;
    height:30px;
}

#ulSubTabs > div a:hover {
    background-color: #ededed;
    border:1px solid #272727;
    text-decoration: none;
    font-size: 12px;
    line-height: 30px;
    height: 30px;
    padding: 0 10px;
    color:#272727 !important;
                
}

#dialog-smartcap
{
    display:block;
    -webkit-overflow-scrolling:touch;
}