﻿
#divGettingStartedHeader h3
{
    color: #0080C0;
}
#divGettingStartedHeader div
{
     margin-top:10px;
     margin-bottom:10px;
}
#divLinkContent a
{
      display: block;
    background-color: #272727;
    font-size: 12px;
    line-height: 30px;
    height: 30px;
    color: #ededed;
    text-decoration: none;
    padding: 0 10px;
    border:1px solid #272727;
    cursor:pointer;
}

       .hide
        {
            display:none;
        }

        #lnkHideQuestions
        {
           text-decoration:underline;
           cursor:pointer;
        }

        .wrapper
        {
            margin-left:10px;
        }
        .focused
        {
            /*background-color:#CCCCFF;
            color:#FFFFFF;*/
             display: block !important;
    background-color: #ededed !important;
    padding: 0 20px !important;
    font-size: 12px !important;
    line-height: 30px !important;
    height: 30px !important;
    color: #272727 !important;
    border:1px solid #272727  !important;
    text-decoration: none !important;
    padding: 0 10px !important;
        }
.largeSeparator
{
    height:20px;
}

.separator
{
    height:26px;
}
#divRCTQuestions
{
    line-height:16px;
}
.userSelect
{
    vertical-align: top;
    float:left;
    clear:both;
    width:120px;
    margin-left:10px;
}

.question
{
    vertical-align: middle; 
    margin-left:150px;
}

#content
{
    background-color:white;    
    padding-left:3px;
    padding-right:3px;
    padding-bottom: 15px;
    clear:both;
    float:left;
    width:99.50%;
    overflow:auto;
}

#questions
{
     padding-left:10px;
      min-height: 200px;
}
.borderBottom {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color -moz-use-text-color #000000;
    border-image: none;
    border-style: none none solid;
    border-width: medium medium 1px;
    float: left;
    margin: 5px 0 0;
    min-height: 23px;
    padding: 1px 2px 0;
    position: relative;
}

#btnNext
{
    background-color: #8AB4E6;
    border-style: solid;
    border-width: 1px;
    color: #FFFFFF;
    cursor: pointer;
    font-weight:bold;
    height:25px;
    text-align:center;
    vertical-align:middle;
}

.greenCheck
{
    background-image: url('../../Images/tick.png');
}

.redCross
{
    background-image: url('../../Images/DeleteRed.png');
}

#divStatusImage
{
   
    height: 16px;
    width: 17px;
    cursor: default;
    float: left;
    vertical-align: middle;
    text-align: center;
    margin-right: 5px;
    margin-left:4px;
    margin-top:5px;
    position: relative;
    z-index: 2;    
}


#divGenericStatusImage
{
   
    height: 16px;
    width: 16px;
    cursor: pointer;
    float: left;
    vertical-align: middle;
    text-align: center;
    margin-right: 5px;
    margin-left:4px;
    margin-top:5px;
    position: relative;
    z-index: 2;    
}

.causeAnalysis
{
    float:right !important;
    cursor: pointer;
    vertical-align: middle;
    text-align: center;
    margin-right: 5px;
    margin-top:5px;
    position: relative;
    z-index: 2; 
    color:blue !important;
}

.guidance, .blank
{   
   float: right;
    height: 18px;
    margin-left: 6px;
    margin-right: 10px;
    margin-top: 7px;
    position: relative;
    width: 18px;
    z-index: 2;   
    cursor:pointer;
    word-wrap:break-word;
}
.contentBorder {
    border: 1px solid #B1B1B1;
    border-radius: 6px 6px 0 0;
    margin-left: 0;
    margin-right: 0;
    width: 99.4%;
}

#rctTemplateResults
{
    width:100%;
}

.rctCompleted
{
    background-color: #408080 !important;
    color: #B1B1B1 !important;
}

.ui-accordion .ui-accordion-header .ui-icon {
    left: 25px;
    margin-top: -8px;
    margin-right:5px;
    position: absolute;
    top: 50%;
}
.title
{
    margin-left:17px;
    font-weight:bold;
}

#divRCTTitle {
    font-size: 100% !important;
    line-height: 2 !important;
    list-style: none outside none !important;
    outline: 0 none !important;
    padding: 0 !important;
    text-decoration: none !important;
}

#tabs
{
    overflow:auto !important;
}

.event-subtabs-selected {
        height: 19px !important;
}